body {
  margin: 0;
  background-color: $background;
  font-family: $body-font;
}

h1 {
  font-family: $headline-font;
}

header {
  margin: 0 auto;
  text-align: center;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
}

.postWrapper {
  // border: 1px solid black;
  width: 100%;
}

.sideBar {
  // border: 1px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.subject {
  text-align: center;
}

.userForm {
  width: 100%;
  background-color: $post-background;
}

