body {
  margin: 0;
  background-color: $white;
  font-family: $body-font;
}

h1 {
  font-family: $headline-font;
}

header {
  margin: 0 auto;
  text-align: center;
}

.titleHead {
  font-size: 50px;
  text-decoration: none;
  color: black;
}

.titleHead:hover {
  opacity: .5;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
}

.postWrapper {
  // border: 1px solid black;
  width: 100%;
}

.subject {
  text-align: center;
  font-size: 60px;
}

.userForm {
  width: 100%;
  background-color: $babypink;
}

