button {
  background-color: $lightgray;
  color: $button-text;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
}

button:hover {
  background-color: $button-hover;
}

.addNew {
  margin-left: 30px;
}

.buttonSingleWrapper {
  display: flex;
  flex-direction: row;
  width: 130px;
  justify-content: space-between;
  margin-top: 10px;
}

#saveButton {
  background-color: $lightgray;
  color: $button-text;
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  margin-top: 30px;
}
