
@import url('https://fonts.googleapis.com/css?family=Dosis|Londrina+Outline|Londrina+Shadow|Open+Sans');

$white: #ffffff;
$lightgray: #d3d3d3;
$darkgray: #333333;
$button-hover: #C0C0C0;
$button-text: #000000;
$babypink: #fff1f3;
$sidebar-background: #F6F6F6;

$headline-font: 'Londrina Shadow', cursive;
$post-header-font: 'Dosis', sans-serif;
$body-font: 'Open Sans', sans-serif;
