@import url('https://fonts.googleapis.com/css?family=Lilita+One|Open+Sans');

$background: #ffffff;
$button-color: #d3d3d3;
$button-hover: #C0C0C0;
$button-text: #000000;
$post-background: #fff1f3;

$headline-font: 'Lilita One', cursive;
$body-font: 'Open Sans', sans-serif;
