<footer>
  <ul>
    <li><a href="mailto:aileen@helloaileen.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
    <li><a href="https://www.instagram.com/eatdattreat/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
  </ul>
</footer>
