<nav>
  <ul>
    <a href="/posts"><li>home</li></a>
    <a href="/posts/recipes"><li>recipes</li></a>
    <a href="/posts/treats"><li>treats</li></a>
    <a href="/posts/about"><li>about</li></a>
    <a href="/posts/contact"><li>contact</li></a>
  </ul>
</nav>
