<div class="sideBar">
  <div class="author">
    <h1>Hi there!</h1>
    <img class="authorPhoto"></img>
    <div class="authorBio">Hi! I'm Aileen. I love finding tasty treats around NYC. I also like to cook at home.</div>
  </div>
  <h1>More Posts</h1>
  <% for (let posts of data) { %>
    <div class="sidePost">
      <a href="/posts/<%= posts.id %>"><div><%= posts.image %></div></a>
      <div><%= posts.name %></div>
    </div>
  <% } %>
</div>
