<div class="sideBar">
  <div class="author">
    <h1 class="sideHead">Hi there!</h1>
    <img class="authorPhoto"></img>
    <div class="authorBio">Hi! I'm Aileen. I love finding tasty treats around NYC. I also like to cook at home.</div>
  </div>
  <h1 class="sideHead">More Posts</h1>
  <% for (let posts of data) { %>
    <div class="sidePost">
      <div class="sideThumb">
        <a href="/posts/<%= posts.id %>">
          <div>
            <img class=sideThumbImg src="<%= posts.thumbnail %>">
          </div>
        </a>
      </div>
      <div><%= posts.tagline %></div>
    </div>
  <% } %>
</div>
