<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <div class="single-post">
    <h1><%= data.name %></h1>
    <h1><%= data.created_at %></h1>
    <h1><%= data.image %></h1>
    <h1><%= data.content %></h1>
    <a href="/posts">Back to blog</a>
  </div>
</main>

<% include ./partials/footer %>
<% include ./partials/end %>
