<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <h1>Add a new post</h1>

    <form method='POST' action='/posts'>
      <div>
        <input name="name" type="text" placeholder="name" />
      </div>
      <div>
        <input name="created_at" type="text" placeholder="date" />
      </div>
      <div>
        <input name="image" type="text" placeholder="image" />
      </div>
      <div>
        <textarea rows="10" cols="50" name="content" type="text" placeholder="content" ></textarea>
      </div>
      <div>
        <select name="tag" type="text">
          <option value="1">recipe</option>
          <option value="2">treat</option>
        </select>
      </div>
      <div>
        <input type="submit" value="save" />
    </form>

</main>

<% include ./partials/footer %>
<% include ./partials/end %>
