<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <h1 class="subject">Contact</h1>
  <p>For inquiries, please contact aileen@helloaileen.com</p>
  <h1>Instagram</h1>
  <!-- SnapWidget -->
  <iframe src="https://snapwidget.com/embed/495814" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:80%; height:200px"></iframe>

</main>

<% include ./partials/footer %>
<% include ./partials/end %>

