<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <h1 class="subject">Add a new post</h1>
  <div class="contentWrapper">
    <div class="post">
      <form method='POST' action='/posts'>
        <h4>Name of Post</h4>
        <div>
          <input name="name" type="text" placeholder="name" />
        </div>
        <h4>Tagline</h4>
        <div>
          <input name="tagline" type="text" placeholder="tagline" />
        </div>
        <h4>Author</h4>
        <div>
          <input name="author" type="text" placeholder="author" />
        </div>
        <h4>Date</h4>
        <div>
          <input name="created_at" type="text" placeholder="date" />
        </div>
        <h4>Image Link</h4>
        <div>
          <input name="image" type="text" placeholder="image" />
        </div>
<!--         <div class="card">
          <img src="http://fillmurray.com/g/300/300" id="img-preview" />
          <label class="file-upload-container" for="file-upload">
            <input name="image" id="file-upload" type="file" style="display:none;">
            Select an Image
          </label>
        </div> -->
        <h4>Thumbnail Image Link</h4>
        <div>
          <input name="thumbnail" type="text" placeholder="thumbnail" />
        </div>
        <h4>First Paragraph</h4>
        <div>
          <textarea rows="10" cols="50" name="content1" type="text" placeholder="First Paragraph" ></textarea>
        </div>
        <h4>Second Paragraph</h4>
        <div>
          <textarea rows="10" cols="50" name="content2" type="text" placeholder="Second Paragraph" ></textarea>
        </div>
        <h4>Quote</h4>
        <div>
          <textarea rows="5" cols="50" name="quote" type="text" placeholder="Quote" ></textarea>
        </div>
        <h4>More Info Link</h4>
        <div>
          <input name="link" type="text" placeholder="link" />
        </div>
        <h4>Post Type</h4>
        <div>
          <select name="tag" type="text">
            <option value="1">recipe</option>
            <option value="2">treat</option>
          </select>
        </div>
        <div>
          <input id="saveButton" type="submit" value="save" />
        </div>
      </form>
    </div>
    <% include ./partials/single-sidebar %>
  </div>

</main>

<% include ./partials/footer %>
<% include ./partials/end %>
