<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <p class="about-paragraph">Hi! I'm Aileen. I'm a web developer who loves to eat. I've waited in my fair share of lines for the latest thing. At home, I love to cook. I like to share my cooking with friends.</p>
  <p class="about-paragraph">In my free time I love to ice skate. My best friend and I compete at local competitions in NYC as pairs.</p>
</main>

<% include ./partials/footer %>
<% include ./partials/end %>
