<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <h1>Eat Dat Treat</h1>
</main>

<% include ./partials/footer %>
<% include ./partials/end %>
