.post {
  background: linear-gradient($babypink, $white);
  width: 95%;
  margin: 30px;
  padding: 40px;
  box-sizing: border-box;
}

.postTitle {
  font-family: $post-header-font;
  margin: 0;
  text-transform: uppercase;
}

.postTagline {
  font-family: $post-header-font;
  font-size: 30px;
  text-align: center;
  margin: 10px 100px;
}

.postQuote {
  border: 4px solid lightgray;
  padding: 30px;
  margin: 30px;
}

.moreInfo {
  margin-top: 50px;
  margin-bottom: 30px;
}

.authorData {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  h6 {
    margin-right: 30px;
  }
}

.readMoreLink {
  margin-top: 30px;
}
