.post {
  background: linear-gradient($babypink, $white);
  width: 95%;
  margin: 30px;
  padding: 40px;
  box-sizing: border-box;
}

.postTitle {
  font-family: $post-header-font;
  margin: 0;
  text-transform: uppercase;
}

.postTagline {
  font-family: $post-header-font;
  margin-top: 10px;
  margin-bottom: 5px;
}

.authorData {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  h6 {
    margin-right: 30px;
  }
}

.readMoreLink {
  margin-top: 30px;
}
