.sideBar {
  // border: 1px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 30px;
}

.authorBox {
  display: flex;
  flex-direction: column;
}

.authorPhoto {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.authorBio {
  text-align: center;
}

.sidePost {
  background: linear-gradient($lightgray, $white);
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
  font-size: 12px;
}

.sideHead {
  text-align: center;
}

.sideThumbImg {
  height: 180px;
}
